@model Student_Management_System.Models.BlogCategorys.BlogCategoryModel
@{
    ViewBag.Title = "Blog Post Category";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("CreateEdit", "BlogCategory", FormMethod.Post, new { @id = "", @enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.BlogCategoryId)
    <div class="card">
        <div class="card-header align-items-center">
            <h1>Create Category</h1>
            <div class="">
                <a href="/BlogCategory/Index" class="btn btn-sm btn-secondary">Back To List</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <label>Blog Category Name</label>
                    @Html.TextBoxFor(m => m.BlogCategoryName, new { @class = "form-control",@required=true ,@placeholder= "Blog Category Name" })
                    @Html.ValidationMessageFor(m => m.BlogCategoryName)
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-md-4">
                    <label>Blog Post Description</label>
                    @Html.TextAreaFor(m => m.BlogCategoryDescription, new { @class = "form-control BlogCategoryDescription" })
                </div>
                <div class="col-md-3">
                    <label>Blog Image</label>
                    <input type="file" name="BlogCategoryFile" accept="jpg,png,jpeg" class="form-control" />
                    @if (Model.BlogCategoryImage != null)
                    {
                        <div class="ImagePreview mt-4">
                            <div class="text-end">
                                <a href="javascript:void(0)" class="RemoveImage btn btn-sm btn-danger rounded">X</a>
                            </div>
                            <img src="~/Uploads/BlogCategoryImage/@Model.BlogCategoryImage" class="img-thumbnail w-100" height="300" />

                        </div>
                        <input type="hidden" name="RemovedBlogImage" value="0" id="RemovedBlogImage" />
                        <input type="hidden" name="HiddenBlogImage" value="@Model.BlogCategoryImage" id="HiddenBlogImage" />
                    }
                </div>
            </div>
        </div>
        <div class="card-footer ">
            <input type="submit" value="Submit" class="btn btn-sm btn-primary" />
        </div>
    </div>
}

@section scripts{
    <script src="~/Theme/dist/assets/plugins/custom/tinymce/tinymce.bundle.js"></script>
    <script>
        $(document).ready(function () {
            tinymce.init({
                selector: '.BlogCategoryDescription',
                plugins: 'quickbars lists code table codesample',
                toolbar: 'blocks | forecolor backcolor | bold italic underline strikethrough | link blockquote codesample | align bullist numlist | code ',
            });
            $(".RemoveImage").click(function () {
                $("#RemovedBlogImage").val(1);
                $("#HiddenBlogImage").val("");
                $(".ImagePreview").remove();
            });
        });
    </script>
}